body {
  margin: 0;
  padding: 0;
}
div {
    vertical-align: top;
}
canvas {
    vertical-align: top;
}

#ctrl {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

button{
 width:50px;
 height:50px;
}