body {
  margin: 0;
  padding: 0;
}
div {
    vertical-align: top;
}
canvas {
    vertical-align: top;
}

#ctrl {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

button{
 position: absolute;
 display: block;
 width:150px;
 height:150px;
 left: 50%;
 top: 50%;
}